<template name="cards">
	<h1>Card Database</h1>
	
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-plus"></i> Add a Filter</button>
		
		<ul class="dropdown-menu" role="menu">
			{{#each filters}}
				<li><a href="#" class="card-filter-add">{{label}}</a></li>
			{{/each}}
		</ul>
	</div>
	
	<div class="card-filters">
		{{#each card_filters}}
			{{> card_filter}}
		{{/each}}
	</div>
	
	<div class="col-md-12">
		<ul class="pagination">
			{{#each page_btns}}
				<li><a class="page-btn" href="#">{{this}}</a></li>
			{{/each}}
		</ul>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-right">
			{{#if cardCount}}
				<span class="align-right">Displaying {{cardSkip}} to {{cardMax}} of {{cardCount}}</span>
			{{else}}
				No cards match your query.
			{{/if}}
		</div>
	</div>
	
	<div class="row">
		{{#each cards}}
		<div class="col-md-3">
			<a href="/card/{{_id}}"><img width="95%" src="imgs/{{card_image}}"></a>
		</div>
			<!--
			<div class="col-md-3">
				<div class="card">
					<div class="card-mana">{{cost}}</div>
					<a href="/card/{{_id}}"><h3 class="card-rarity-{{rarityName}}">{{name}}</h3></a>
					
					<p>{{{text}}}</p>
					<p>Set: {{setName}}</p>
					<p>{{rarityName}}</p>
				</div>
			</div>
			-->
		{{/each}}
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<ul class="pagination">
				{{#each page_btns}}
					<li><a class="page-btn" href="#">{{this}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="card_filter">
	<div class="col-md-3">
		<div class="alert alert-dismissable alert-info">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4>{{label}}</h4>
			<div class="text-left">
				{{#each options}}
					<div class="card-filter-checkbox"><input type="checkbox"> {{name}}</div>
				{{/each}}
			</div>
			<!--
			{{> Template.dynamic template="card_filter_{{type}}"}}
			{{#if type_text}}
				<div class="text-left">
					{{#each options}}
						<div class="card-filter-checkbox"><input type="checkbox"> {{this}}</div>
					{{/each}}
				</div>
			{{/if}}
			{{#if type_numeric}}
			{{/if}}
			-->
		</div>
	</div>
</template>
