/* --- globals --- */
a,a:focus,a:hover
{
	color: #fff;
	text-decoration: none;
}

.btn-default,.btn-default:hover,.btn-default:focus
{
	color: #333;
	text-shadow: none;
	background-color: #fff;
	border: 1px solid #fff;
}

html,body
{
	height: 100%;
	background-color: #333;
}

body
{
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1,h2,h3,h4,h5,h6
{
	font-family: title-font;
}

.site-wrapper
{
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
			box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner
{
	display: table-cell;
	vertical-align: top;
}

.cover-container
{
	margin-right: auto;
	margin-left: auto;
}

.inner
{
	padding: 15px;
}



/* --- header --- */
.header
{
	background-color: rgba(40,40,40,.95);
	border-radius: 5px;
	
	z-index: 1000;
}

.header-brand
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-nav > li
{
	display: inline-block;
}

.header-nav > li > a
{
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}

.header-nav > li > a:hover,.header-nav > li > a:focus
{
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}

.header-nav > .active > a,.header-nav > .active > a:hover,.header-nav > .active > a:focus
{
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 768px)
{
	.header-brand
	{
		float: left;
	}

	.header-nav
	{
		float: right;
	}
}



/* --- font --- */
@font-face {
	font-family: 'title-font';
	src: url('fonts/bliz-quadrata.woff') format('woff');
}



/* --- cover --- */
.cover
{
	padding: 50px 20px;
}
.cover .btn-lg
{
	padding: 10px 20px;
	font-weight: bold;
}



/* --- footer --- */
.footer
{
	color: #999;
	color: rgba(255,255,255,.5);
	
	background-color: rgba(40,40,40,.95);
	border-radius: 5px;
	
	z-index: 1000;
}



/* --- affix and center --- */
@media (min-width: 768px)
{
	.header
	{
		position: fixed;
		top: 0;
	}
	
	.footer
	{
		position: fixed;
		bottom: 0;
	}
	
	.site-wrapper-inner
	{
		vertical-align: middle;
	}
	
	.header,.footer,.cover-container
	{
		width: 100%;
	}
}

@media (min-width: 1024px)
{
	.header,.footer,.cover-container
	{
		width: 1024px;
	}
}



/* --- pagination buttons --- */
.pagination .page-btn
{
	padding: 6px 0;
	width: 32px;
	
	color: #f0f0f0;
	background-color: #202020;
	border-color: #282828;
}

.pagination .page-btn:hover
{
}



/* --- login --- */
#login-dropdown-list.open > a
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgba(45,45,45,.95);
}

#login-dropdown-list > .dropdown-menu
{
	right: 0;
}



.alert-info
{
	background-color: #fff;
}

.card
{
	background-color: #202020;
	color: #f0f0f0;
	
	box-shadow: -5px 5px 5px rgba(0,0,0,.5);
	
	height: 220px;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom:15px;
	padding: 10px;
	width: 100%;
	
	border-radius: 5px;
	
	display: inline-block;
}

.card-rarity-Rare
{
	color: #198eff;
}

.card-rarity-Epic
{
	color: #ab48ee;
}

.card-rarity-Legendary
{
	color: #f07000;
}

.card-mana
{
	display: block;
	float: right;
	padding: 2px 10px;
	color: #f0f0f0;
	background-color: #3040a0;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
}

.card-filters
{
	margin-top: 20px;
}

.card-filter-checkbox
{
	display: inline-block;
	
	padding: 0px 10px;
	
	text-align: left;
}

.card-filters-class-check
{
	margin: 20px!important;
}

.card-rate-btn
{
	background-color: #e0e020;
	color: #202020;
}

.twitter-typeahead
{
	margin-left: 50px;
	float: left;
}

.card-suggestion
{
	padding: 4px 20px;
}

.tt-dataset
{
	background-color: #202020;
}

.deckbuilder-sidebar
{
	background-color: rgba(40,40,40,.95);
	
	border-radius: 5px;
}

.deck-entry
{
	background-color: #202020;
	
	padding: 5px 10px;
	margin: 4px 0;
	
	text-align: left;
	
	border-radius: 5px;
}

.deck-entry-count
{
	display: inline-block;
	
	padding: 0 8px;
	margin-right: 10px;
	
	font-family: title-font;
	font-size: 18px;
	
	border-radius: 5px;
	
	background-color: #303030;
}

.deck-counter
{
	
}