<template name="deck_viewer">
	Created on: {{time_to_date}}
	<h1>{{name}}</h1>
	{{#each cards}}
		<p>
		{{#with card_by_id}}
			{{> card_text}}
		{{/with}}
		&times; {{count}}
		</p>
	{{/each}}
	
	<div class="row"> 
		<div class="col-md-6">
		{{> highchartsHelper chartId="cardType" chartWidth="100%" charHeight="100%" chartObject=cardTypeChart}}
		</div>
		
		<div class="col-md-6">
		{{> highchartsHelper chartId="manaCost" chartWidth="100%" charHeight="100%" chartObject=cardManaCost}}
		</div>
		
	</div>
</template>