<template name="card">
	<h1 class="card-rarity-{{rarityName}}">{{name}}</h1>
	
	<div class="container-fluid">{{{text}}}</div>
	
	<div class="container-fluid">
		Cost: {{cost}}
		
		{{#if isMinion}}
			Attack: {{attack}}
			Health: {{health}}
			
			{{#if hasRace}}
				<br>
				Race: {{race}}
			{{/if}}
		{{/if}}
		
		{{#if isWeapon}}
			Attack: {{attack}}
			Durability: {{durability}}
		{{/if}}
		
		<br>
		
		Player Class: {{playerClass}}
		
		<br>
		
		Flavor Text: {{flavor}}
		
		<br>
		
		Artist:  {{artist}}
	</div>
	
	<span style="font-size: 18px">Rating: {{ratingFormat}}</span>
	
	<br>
	
	This card has been rated {{rate_count}} times.
	
	<br>
	
	{{#each ratings}}
		{{> card_rating_btn}}
	{{/each}}
	
	<br>
	
	{{#if hasRated}}
		You have rated this card {{user_rating}}.
	{{/if}}
	
</template>

<template name="card_rating_btn">
	<div class="btn btn-primary card-rate-btn">{{this}}</div>
</template>