.header-container
{
	
}

/* --- header --- */
.header
{
	background-color: rgba(40,40,40,.95);
	border-radius: 5px;
	
	z-index: 1000;
}

.header-brand
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-nav > li
{
	display: inline-block;
}

.header-nav > li > a
{
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}

.header-nav > li > a:hover,.header-nav > li > a:focus
{
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}

.header-nav > .active > a,.header-nav > .active > a:hover,.header-nav > .active > a:focus
{
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 768px)
{
	.header-brand
	{
		float: left;
	}

	.header-nav
	{
		float: right;
	}
}

#login-dropdown-list > .dropdown-menu
{
	left: auto;
	background-color: rgba(255,255,255,.25);
	
	
	
}

.btn-primary 
{

	background-color: #000;

}