<template name="header">
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Deck Builder</a>
			</div>
			
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input class="form-control typeahead" name="card-search" type="text" data-highlight="true" placeholder="Search the card database..." autocomplete="off" spellcheck="off" data-value-key="name" data-source="getCards" data-selected="selected" data-template="card_suggestion"/>
					</div>
				</form>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/new_deck"><i class="fa fa-plus"></i> New Deck</a></li>
					{{#if display_edit}}
						<li><a href="/edit" data-toggle="tooltip" data-placement="bottom" title="{{#if active_deck}}Currently Editing: {{current_deck}}{{/if}}"><i class="fa fa-pencil"></i> Edit Deck</a></li>
					{{/if}}
					<li><a href="/browse"><i class="fa fa-list-ul"></i> Browse Decks</a></li>
					<li><a href="/cards"><i class="fa fa-database"></i> Card DB</a></li>
					{{> loginButtons}}
				</ul>
			</div>
		</div>
	</nav>
</template>

<template name="card_suggestion">
	<div class="card-suggestion"><p>{{name}}</p></div>
</template>